<?php
/**
 * @var $block \Kowal\Thulium\Block\Thulium\Add
 */
?>
<style>
    .wrapTags{
        width:63%;
        float: left;
    }
    .wrapIlosc{
        width: 30%;
    }
    .append .field{
        flex-direction: row !important;
        justify-content:space-between;
        display: flex;
    }
    #odejmij-przedmiot{
        margin-bottom:20px !important;
        display: block;
        margin-top: -30px;
        background: #ff7000;
        width: 167px;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
    #dodaj-przedmiot{
        margin-bottom:20px !important;
        display: block;
        margin-top: -30px;
        background: #ff7000;
        width: 167px;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
    .przyciski{
        flex-direction: row !important;
        justify-content:space-between;
        display: flex;
    }
    span.address {
        display: block;
        border: solid 1px #eee;
        padding: 20px;
    }
    .field.choice {
        gap: 20px;
    }
    @media (max-width: 500px) {
        .kowal_thulium-thulium-add .contact{
            width: 100% !important;
        }
        #dodaj-przedmiot{
            margin-top: unset !important;
        }
        #odejmij-przedmiot{
            margin-top: unset !important;
        }
        .address{margin-top:10px;}
        .amgdpr-checkbox{margin-bottom: 10px !important;}
    }

    .field.required:not(.choice) .wrapTags > label:after,
    .field.required:not(.choice) .wrapIlosc > label:after
    {
        content: '*';
        font-size: 1.3rem;
        vertical-align: top;
        color: #ff7002;
    }
</style>

<form class="form contact" id="dokument_mag" method="POST" action="<?= /** @noEscape */
$block->getUrl('kowal_thulium/thulium/save') ?>" style="width: 500px; margin: 50px auto;">

    <div class="entry-edit form-inline">
        <div class="fieldset-wrapper" data-level="0" data-index="general">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?= $block->getTitle();?></span>
                </strong>
                <p><?= $block->getDescription();?> <span class="address"><?= $block->getAddress();?></span></p>
            </div>
            <div class="admin__fieldset-wrapper-content ">
                <fieldset class="admin__fieldset">

                    <div class="amgdpr-checkbox field choice  required">
                        <input type="hidden" name="category" value="" id="category">
                        <input type="hidden" name="category_name" value="" id="category_name">
                        <?php
                        if ($categories = $block->getCategories()) {
                        foreach ($categories as $id => $name) {
                        ?>

                        <input type="radio" name="categories"  title="<?= $name;?>" data-id="<?= $id;?>" data-name="<?= $name;?>" id="category<?= $id;?>"
                               class="amgdpr-checkbox category" required="" data-validate="{required:true}">
                        <label for="category<?= $id;?>" class="label amgdpr-label"><span class="amgdpr-radio"><?= $name;?></span></label>
                        <?php }} ?>

                    </div>

                    <div class="field firstname required">
                        <label class="label" for="firstname"><span>Imię</span></label>
                        <div class="control">
                            <input name="firstname" id="firstname" title="Imię" value="" class="input-text" type="text"
                                   data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>

                    <div class="field lastname required">
                        <label class="label" for="lastname"><span>Nazwisko</span></label>
                        <div class="control">
                            <input name="lastname" id="lastname" title="Nazwisko" value="" class="input-text"
                                   type="text" data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>

                    <div class="field kodpocztowy required">
                        <label class="label" for="kodpocztowy"><span>Kod pocztowy</span></label>
                        <div class="control">
                            <input name="kodpocztowy" id="kodpocztowy" title="Kod pocztowy" value="" class="input-text"
                                   type="text" data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>

                    <div class="field miejscowosc required">
                        <label class="label" for="miejscowosc"><span>Miejscowość</span></label>
                        <div class="control">
                            <input name="miejscowosc" id="miejscowosc" title="Miejscowość" value="" class="input-text"
                                   type="text" data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>

                    <div class="field adres required">
                        <label class="label" for="adres"><span>Adres</span></label>
                        <div class="control">
                            <input name="adres" id="adres" title="Adres" value="" class="input-text"
                                   type="text" data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>


                    <div class="field email required">
                        <label class="label" for="email"><span>Twój e-mail</span></label>
                        <div class="control">
                            <input name="email" id="email" title="Twój e-mail" value="" class="input-text" type="email"
                                   data-validate="{required:true, 'validate-email':true}" aria-required="true">
                        </div>
                    </div>

                    <div class="field phone required">
                        <label class="label" for="phone"><span>Telefon</span></label>
                        <div class="control">
                            <input name="phone" id="phone" title="Telefon" value="" type="text"  data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>

                    <div class="tags required">
                        <div class="append for_clone">
                            <div class="field required">
                                <div class="wrapTags">
                                    <label class="label" for="tags"><span>Produkt (wpisz lub wyszukaj)</span></label>
                                    <div class="control">
                                        <select name="tags[]"   title="Produkt" class="input-select skus" type="select"
                                                data-validate="{required:true}" aria-required="true" required="required">
                                            <option value="">--Proszę wybrać--</option>
                                            <?php
                                            if ($tags = $block->getTags()) {
                                                foreach ($tags as $sku => $tag) {
                                                    ?>
                                                    <option value="<?= $sku; ?>"><?= $tag; ?></option>
                                                <?php }
                                            } ?>
                                     </select>
                                    </div>
                                </div>
                                <div class="wrapIlosc">
                                    <label class="label" for="ilosc"><span>Ilość</span></label>
                                    <div class="control">
                                        <input name="ilosc[]" id="ilosc" title="Ilość" value="" class="input-text" type="text"
                                           data-validate="{required:true}" aria-required="true" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field appender">

                    </div>

                    <div class="przyciski">
                        <span id="dodaj-przedmiot">+ Dodaj produkt</span>
                        <span id="odejmij-przedmiot">- Usuń produkt</span>
                    </div>

                    <div class="field body required">
                        <label class="label" for="body">
                            <span>Powód zgłoszenia</span>
                        </label>
                        <div class="control">
                            <textarea name="body" id="body" title="Powód zgłoszenia" class="input-text" cols="5"
                                      rows="3" data-validate="{required:true}" aria-required="true"></textarea>
                        </div>
                    </div>

                    <div class="field rachunek" style="display: none;">
                        <label class="label" for="rachunek"><span>Numer rachunku bankowego</span></label>
                        <div class="control">
                            <input name="rachunek" id="rachunek" title="Numer rachunku bankowego" value="" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="26"
                                     aria-required="false">
                        </div>
                    </div>


                    <h3>Odsyłane elementy:</h3>

                    <div class="amgdpr-checkbox field choice gdpr">
                        <input type="hidden" name="karta_sd" value="" class="odsylane">
                        <input type="checkbox" name="karta_sd"
                               title="Karta CD" value=""
                               class="amgdpr-checkbox odsylane"
                                id="karta_sd">
                        <label for="karta_sd" class="label amgdpr-label" style="margin-right: 10px;">
                            <span class="amgdpr-text">Karta SD</span>
                        </label>

                        <input type="hidden" name="karta_sim" value="" class="odsylane">
                        <input type="checkbox" name="karta_sim"
                               title="Karta SIM" value=""
                               class="amgdpr-checkbox odsylane"
                               id="karta_sim">
                        <label for="karta_sim" class="label amgdpr-label"  style="margin-right: 10px;">
                            <span class="amgdpr-text">Karta SIM</span>
                        </label>

                        <input type="hidden" name="inne" value="" class="odsylane">
                        <input type="checkbox" name="inne"
                               title="Inne" value=""
                               class="amgdpr-checkbox odsylane"
                               id="inne">
                        <label for="inne" class="label amgdpr-label">
                            <span class="amgdpr-text">Inne</span>
                        </label>
                    </div>


                    <div class="field opis " style="display: none;">
                        <label class="label" for="opis">
                            <span>Wymień odsyłane elementy</span>
                        </label>
                        <div class="control">
                            <textarea name="opis" id="opis" title="Opis" class="input-text" cols="5" rows="3" maxlength="500"></textarea>
                        </div>
                    </div>


                    <div class="amgdpr-checkbox field choice gdpr  required" data-role="amasty-gdpr-consent"
                         data-amgdpr-content-from="contactus">
                        <input type="hidden" name="amgdpr_agreement[privacy_checkbox]" value="0">
                        <input type="checkbox" name="amgdpr_agreement[privacy_checkbox]"
                               title="Polityka prywatności i regulamin" value="1" id="amprivacy-checkbox-646dcc493a360"
                               class="amgdpr-checkbox" data-consent-id="1" required="required" data-validate="{required:true}" aria-required="true">
                        <label for="amprivacy-checkbox-646dcc493a360" class="label amgdpr-label">
        <span class="amgdpr-text">
            Przeczytałem i akceptuję  <a href="/czeste-pytania/polityka-prywatnoci/">Politykę prywatności</a> oraz <a
                    href="/regulamin">Regulamin</a> sklepu orllo.pl        </span>
                        </label>
                    </div>

                    <div class="actions-toolbar">
                        <div class="primary">
                            <input type="hidden" name="hideit" id="hideit" value="">
                            <button type="submit" title="Wyślij" class="action submit primary" id="submit">
                                <span>Wyślij</span>
                            </button>
                        </div>
                    </div>


            </div>
        </div>

        <div class="fieldset-wrapper" data-level="0" data-index="general">
            <div class="admin__fieldset-wrapper-content ">
                <p><?= $block->getFooter();?></p>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui",
        "Kowal_Thulium/js/select2.full.min",
        "Kowal_Thulium/js/jquery.inputmask.bundle"
    ], function ($) {
        "use strict";
        var iloscPrzyciskow = 0;
        $('#odejmij-przedmiot').hide();

        $("input#kodpocztowy").inputmask({"mask": "99-999"});
        $("input#phone").inputmask({"mask": "+99-999-999-999"});
        $("input#email").inputmask({'mask': 'email'});


        var $select = $('.skus').select2();

        $('#dodaj-przedmiot').click(function() {

            $(".for_clone .skus").select2("destroy");

            var $button = $('.for_clone').clone();
            $('.appender').append($button.removeClass('for_clone'));
            iloscPrzyciskow++;
            $('#odejmij-przedmiot').show();


            $select = $('.skus').select2();


        });

        $('#odejmij-przedmiot').click(function() {
            //var $button = $('.append').clone();
            if (iloscPrzyciskow>0) {
                $('.appender .append:last-child').remove();
                iloscPrzyciskow--;
                $('#odejmij-przedmiot').show();
            }
            if (iloscPrzyciskow==0){ $('#odejmij-przedmiot').hide();}
        });




        $('#dokument_mag').submit(function (e) {

            e.preventDefault();
            $("#submit").attr("disabled", true);

            var form = $(this);



            // zapisywanie formularza
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {

                    if(Math.floor(response) == response && $.isNumeric(response))
                    {
                        $("#submit").attr("disabled", false);
                        $("#numer_przesylki").html(response);

                        $("form#dokument_mag :input").each(function () {
                            $("input").val("");
                        });

                        // wyswietlenie podziekowania
                        form.hide();
                        $("#podziekowanie").show();

                    }else{
                        alert(response);
                        $("#submit").attr("disabled", false);
                    }

                },
                error: function (response) {
                    console.log(response)
                    $("#submit").attr("disabled", false);
                    alert("Błąd wysyłania formularza. Proszę spróbować ponownie.");

                }
            });
            return false;
        });

        // Ukrywanie i wyswietlanie pola textarea
        $('#inne').click(function() {
            $(".opis").toggle(this.checked);
        });


        $('.odsylane').click(function(){
            if($(this).prop("checked") == true){
                $(this).val(1);
            }
            else if($(this).prop("checked") == false){
                $(this).val(0);
            }
        });

        var odstapienie = '<?= $block->getOdstapienie();?>';
        $('input[name="categories"]').click(function(){
            if($(this).is(":checked")){
                $('#category').val($(this).attr('data-id'));
                $('#category_name').val($(this).attr('data-name'));
                if(odstapienie == $('#category').val()){
                    $(".rachunek").css("display", "block");
                }else{
                    $(".rachunek").css("display", "none");
                }

            }
        });

    });


</script>

<div id="podziekowanie" style="display: none; width: 500px; margin: 100px auto;">
    <p>
        Dziękujemy za wysłanie zgłoszenia.
    </p>
    <p>
        Teraz nadaj przesyłkę na adres: <span class="address" style="font-weight: bold;"><?= $block->getAddress();?></span>
    </p>
    <p>
        Twój numer zgłoszenia to: <span id="numer_przesylki" style="font-weight: bold;"></span>
    </p>
    <p>
        Pamiętaj, aby zapisać numer zgłoszenia na kartce i włożyć ją do przesyłki lub napisać numer w widocznym miejscu na przesyłce!
    </p>
</div>